@charset "UTF-8";

@font-face{
    font-family: 'Matrix';
    src: url(../fonts/matrix.ttf) format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'Bit';
    src: url(../fonts/PixelOperatorMono.ttf) format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'Cali';
    src: url(../fonts/MrsSaintDelafield-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Voice';
    src: url(../fonts/Voice\ In\ My\ Head.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Vampire TTF';
    src: url(../fonts/Vampire\ Wars.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Vampire OTF';
    src: url(../fonts/Vampire\ Wars.otf);
    font-weight: normal;
}
:root{
    --corA: #000000;
    --corB: #000000;
    --corC: #fcfcfc;
    --corD: #000000;
    --corE: #413b3b;

    --font-padrao: 'Times New Roman', Times, serif;
    --font-matrix: 'Matrix', Arial, sans-serif;
    --font-bit: 'Bit', Arial, sans-serif;
    --font-cali: 'Cali',Arial, sans-serif;
    --font-voice: 'Voice', Arial, sans-serif;
    --font-vampire: 'Vampire TTF', 'Vampire OTF';
}
*{
    font-family: var(--font-padrao);
    font-weight: normal;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--corE);
}
header{
    text-align: center;
    padding-top: 100px;
    background-image:url(../images/homepg/background.jpg);
    min-height: 200px;
}
header > h1{
    color: rgb(0, 0, 0);
    font-size: 7em;
    padding: 10px;
    margin-bottom: 5px;
    font-family: var(--font-voice);
    text-shadow: 2px 2px 4px rgb(243, 242, 242);
}
header > p{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 5px;
    font-family: var(--font-vampire);
    text-shadow: 2px 2px 4px rgba(248, 247, 247, 0.952);
}
nav{
    background-color: var(--corA);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.11);
}
nav > a{
    color: white;
    padding-right: 20px;
    font-weight: bold;
}
nav > a:hover{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: underline;
}
main{
    background-color: white;
    max-width: 800px;
    max-height: auto;
    margin: auto;
    padding: 15px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid var(--corD);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
    text-align: justify;
}
article > h1{
    text-align: center;
    font-family: var(--font-voice);
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
    background-color: var(--corD);
}
article > h2{
    font-family: var(--font-vampire);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--corB);
}
h2 > a{
    font-family: var(--font-vampire);
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--corB);
}
h2 > a:hover{
    background-color: var(--corB);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    
}
article > h3{
    font-family: var(--font-vampire);
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--corD);
}
article > p{
   text-indent: 15px;
   margin-bottom: 10px;
   font-size: 1.1em;
}
article > img{
    display: block;
    margin: auto;
    max-height: 550px;
    width: 100%;
    margin-bottom: 20px;
}
p > strong{
    font-weight: bold;
}
address {
    font-weight: bold;
    text-indent: 15px;
    font-style: normal;

}
ol{
    border: 4px solid var(--corC);
    padding: 30px;
    background-color: var(--corD);
    color: var(--corC);
    border-radius: 20px 0px;
    margin-bottom: 10px;
}
ol > h2{
    font-family: var(--font-vampire);
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
}
ol > li{
    margin-bottom: 10px;
    font-weight: bold;
}
ol > p{
    font-weight: bold;
}
ul{
    border: 4px solid var(--corC);
    padding: 30px;
    background-color: var(--corD);
    color: var(--corC);
    border-radius: 20px 0px;
    margin-bottom: 10px;
}

ul > h3{
    font-family: var(--font-vampire);
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 10px;
}
ul > li{
    margin-bottom: 10px;
    font-weight: bold;
}
ul > p{
    font-weight: bold;
}
li > a{
    color: var(--corC);
    font-weight: bold;
}
li > a:hover{
    padding: 10px;
    background-color: var(--corC);
    color: var(--corD);
    border-radius: 5px;
    text-decoration: underline;
    transition-duration: 0.5s;
}
span > a{
    
    display: block;
    color: var(--corB);
    text-align: center;
    font-family: var(--font-vampire);
    font-size: 1.3em;
    padding-bottom: 30px;

}
span > a:hover{
    color: var(--corA);
    text-decoration: underline;
    transition-duration: 0.5s;
}
div{
    text-align: center;
}
button {
    background-color: black;
    color: green;
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.226);
}
button > a{
    font-family: var(--font-matrix);
    font-size: 1.6em;
    color: green;

}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
footer{
    text-align: center;
    color: var(--corE);
    background-color: var(--corA);
    margin-bottom: 10px;
}
footer > p{
    font-family: 'Times New Roman', Times, serif;
   
}
.founder{
    max-height: 800px;
    max-width: 800px;
}
.git{
    color: var(--corE);
}
.git:hover{
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: underline;
}
